{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Beranda{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:panitia_naskah' %}">Naskah Saya</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Naskah</li>
        </ol>
    </nav>
    <h1>Detail Naskah</h1>
    <h2 class="fs-3">{{ naskah.judul }}</h2>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>Penulis Utama</dt>
                    <dd>{{ naskah.peserta }}</dd>

                    <dt>Institusi</dt>
                    <dd>{{ naskah.peserta.institusi|default:'-' }}</dd>

                    <dt>Pekerjaan/Profesi</dt>
                    {% if naskah.peserta.is_mahasiswa %}
                    <dd>Mahasiswa {{ naskah.peserta.get_mahasiswa_display|default:'-' }}</dd>
                    {% else %}
                    <dd>{{ naskah.peserta.pekerjaan|default:'-' }}</dd>
                    {% endif %}

                    <dt>Jenis Naskah</dt>
                    <dd>{{ naskah.get_jenis_naskah_display }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    {% if ada_pasfoto %}
                    <dt>Pasfoto</dt>
                    <dd>
                        <img src="{{ naskah.peserta.pasfoto.url }}" style="width: 128px; height: auto;">
                    </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <dl>
            <dt class="fs-3">Kolaborator</dt>
            <dd>
                <table class="table table-sm my-3" style="width: 800px; max-width: 90vw;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Institusi</th>
                            <th>Pekerjaan</th>
                            <th>Pendidikan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in naskah.kolaborators.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ k.nama }}</td>
                            <td>{{ k.institusi|default:'-' }}</td>
                            <td>{{ k.pekerjaan|default:'-' }}</td>
                            <td>{{ k.get_pendidikan_display|default:'-' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </dd>
            
            <dt class="mt-5">File PDF Konsep</dt>
            {% if naskah.file_abstrak %}
            <dd>
                <a class="m-2 btn btn-kemkes btn-sm" href="{{ naskah.file_abstrak.url }}">Unduh Konsep</a>
            </dd>
            {% else %}
            <dd>-</dd>
            {% endif %}
        </dl>
        <div class="mt-5">
            <h3>Konsep</h3>
            <div>{{ naskah.abstrak|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    
</script>
{% endblock %}