{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Detail Naskah{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:panitia_naskah' %}">Naskah Peserta</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Naskah</li>
        </ol>
    </nav>
    <h1>Detail Naskah</h1>
    <h2 class="fs-3">{{ naskah.judul }}</h2>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>Penulis Utama</dt>
                    <dd>{{ naskah.peserta }}</dd>

                    <dt>Institusi</dt>
                    <dd>{{ naskah.peserta.institusi|default:'-' }}</dd>

                    <dt>Pekerjaan/Profesi</dt>
                    {% if naskah.peserta.is_mahasiswa %}
                    <dd>Mahasiswa {{ naskah.peserta.get_mahasiswa_display|default:'-' }}</dd>
                    {% else %}
                    <dd>{{ naskah.peserta.pekerjaan|default:'-' }}</dd>
                    {% endif %}

                    <dt>Jenis Naskah</dt>
                    <dd>{{ naskah.get_jenis_naskah_display }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    {% if ada_pasfoto %}
                    <dt>Pasfoto</dt>
                    <dd>
                        <img src="{{ naskah.peserta.pasfoto.url }}" style="width: 128px; height: auto;">
                    </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <dl>
            <dt class="fs-3">Kolaborator</dt>
            <dd>
                <table class="table table-sm my-3" style="width: 800px; max-width: 90vw;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Institusi</th>
                            <th>Pekerjaan</th>
                            <th>Pendidikan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in naskah.kolaborators.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ k.nama }}</td>
                            <td>{{ k.institusi|default:'-' }}</td>
                            <td>{{ k.pekerjaan|default:'-' }}</td>
                            <td>{{ k.get_pendidikan_display|default:'-' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </dd>
            
            <dt class="mt-5">File PDF Konsep</dt>
            {% if naskah.file_abstrak %}
            <dd>
                <a class="m-2 btn btn-kemkes btn-sm" href="{{ naskah.file_abstrak.url }}">Unduh Konsep</a>
            </dd>
            {% else %}
            <dd>-</dd>
            {% endif %}
        </dl>
        <div class="mt-5">
            <h3>Konsep</h3>
            <div>{{ naskah.abstrak|safe }}</div>
        </div>
    </div>
    <div id="div-form-skrining">
        {% if bisa_dinilai %}
        <h2 class="fs-4 mt-5">Form Skrining (Seleksi Administrasi)</h2>
        <form method="POST" action="{% url 'sibijaks25:simpan_penilaian' %}">
            {% csrf_token %}
            <input type="hidden" name="id_naskah" value="{{ naskah.id }}">
            <input type="hidden" name="id_juri" value="{{ juri.id }}">
            {% if naskah.verifier1 %}
            <p>Nomor 1, 2, dan 3 telah dinilai oleh {{ naskah.verifier1 }}</p>
            <input type="hidden" name="s1" value="{% if naskah.s1 %}1{% else %}0{% endif %}">
            <input type="hidden" name="s2" value="{% if naskah.s2 %}1{% else %}0{% endif %}">
            <input type="hidden" name="s3" value="{% if naskah.s3 %}1{% else %}0{% endif %}">
            {% else %}
            <div class="mb-3 p-3" style="border: 1px solid gray;">
                <label for="s1" class="form-label">
                    1. Kesesuaian institusi<br><small>Min 2 institusi yang berlainan</small> 
                </label>
                <select id="s1" name="s1" class="form-select" required>
                    <option selected value="1">Sesuai</option>
                    <option value="0">Tidak Sesuai</option>
                </select>
            </div>
            <div class="mb-3 p-3" style="border: 1px solid gray;">
                <label for="s2" class="form-label">
                    2. Kesesuaian format<br>
                    Artikel:
                    <ol>
                        <li>Maksimal 2 halaman.</li>
                        <li>Ukuran kertas A4, seluruh page margin 2 cm.</li>
                        <li>Font arial 11 hitam, spasi “multiple at 1,15”</li>
                    </ol>
                    Policy Brief:
                    <ol>
                        <li>Maksimal 400 kata.</li>
                        <li>Ukuran kertas A4, seluruh margin 2 cm.</li>
                        <li>Font arial 11 hitam, spasi “1,5”</li>
                    </ol>
                </label>
                <select id="s2" name="s2" class="form-select" required>
                    <option selected value="1">Sesuai</option>
                    <option value="0">Tidak Sesuai</option>
                </select>
            </div>
            <div class="mb-3 p-3" style="border: 1px solid gray;">
                <label for="s3" class="form-label">
                    3. Kesesuaian tema dengan SSGI
                </label>
                <select id="s3" name="s3" class="form-select" required>
                    <option selected value="1">Sesuai</option>
                    <option value="0">Tidak Sesuai</option>
                </select>
            </div>
            {% endif %}
            {% if is_supersubstansi %}
            <div class="mb-3 p-3" style="border: 1px solid gray;">
                <label for="s4" class="form-label">
                    4. Kesesuaian dengan variabel SSGI
                </label>
                <select id="s4" name="s4" class="form-select" required>
                    <option selected value="1">Sesuai</option>
                    <option value="0">Tidak Sesuai</option>
                </select>
            </div>
            <div class="mb-3 p-3" style="border: 3px solid gray;">
                <label for="s5" class="form-label">
                    5. Lanjut ke reviewer
                </label>
                <select id="s5" name="s5" class="form-select" required>
                    <option selected value="1">Ya</option>
                    <option value="0">Tidak</option>
                </select>
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="k" class="form-label">Komentar (opsional)</label>
                <small><br>Berikan kata kunci atau usulan nama juri yang layak untuk menilai naskah ini nantinya</small>
                <textarea class="form-control" name="k" id="k" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-kemkes">Simpan Penilaian</button>
        </form>
        {% else %}
        <div class="alert alert-info">
            Naskah ini telah di-skrining (seleksi administrasi) oleh:
            <ol>
                <li>{{ naskah.verifier1 }} (tahap I)</li>
                <li>{{ naskah.verifier2|default:'-' }} (tahap II)</li>
            </ol>
            {% if naskah.status_naskah == 666 %}
            <p class="mt-3">Naskah ini <b>tidak lolos</b> seleksi administrasi.</p>
            {% else %}
            <p class="mt-3">Naskah ini <b>lolos</b> seleksi administrasi.</p>
                {% if form_juri %}
                <form method="POST" action="{% url 'sibijaks25:simpan_juri' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id_naskah" value="{{ naskah.id }}">
                    {% bootstrap_form form_juri %}
                    <button type="submit" class="btn btn-kemkes">Simpan Reviewer</button>
                </form>
                {% endif %}
            {% endif %}
        </div>
        <div id="div-juri-naskah">
            <h3 class="fs-4">Daftar Reviewer</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Reviewer</th>
                        <th>Institusi</th>
                        <th>Profesi</th>
                        <th>Jumlah Naskah Ditugaskan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r, jml_naskah in reviewers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ r }}</td>
                        <td>{{ r.institusi|default:'-' }}</td>
                        <td>{{ r.pekerjaan|default:'-' }}</td>
                        <td>{{ jml_naskah }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        // {% if form_juri %}
        $('#id_juris').select2();
        // {% endif %}
    });
</script>
{% endblock %}