{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Naskah{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:index' %}">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Naskah Tim</li>
        </ol>
    </nav>
    <h1>Daftar Naskah</h1>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div class="my-3 d-flex flex-wrap gap-3">
        
    </div>
    <dl>
        <b>Per {% now "d F Y" %}</b>
        <dt>Jumlah tim terdaftar</dt>
        <dd>{{ jumlah_tim }}</dd>
        <dt>Jumlah tim sudah unggah naskah</dt>
        <dd>{{ jumlah_tim_dengan_naskah }}</dd>
        <dt>Jumlah naskah terdaftar</dt>
        <dd>{{ jumlah_naskah }} ({{ jumlah_artikel }} Artikel Ilmiah + {{ jumlah_pb }} PB)</dd>
    </dl>
    <div class="my-5">
        <h2 class="fs-4">Naskah Terdaftar</h2>
        {% if naskahs %}
        <div class="div-table overflow-x-auto">
            <table id="datatable" class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tanggal</th>
                        <th>Jenis Naskah</th>
                        <th>Judul</th>
                        <th>Ketua Tim</th>
                        <th>Status</th>
                        <th>Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for naskah in naskahs %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ naskah.date_created|date:"d-m-Y H:i" }}</td>
                        <td>{{ naskah.get_jenis_naskah_display }}</td>
                        <td>{{ naskah.judul }}</td>
                        <td>{{ naskah.peserta }}</td>
                        <td>
                            <span class="badge text-bg-success">Menunggu penilaian</span>
                        </td>
                        <td>
                            <div class="d-flex flex-wrap gap-2">
                                <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:panitia_detail_naskah' naskah.id %}">Lihat</a>
                                {% comment %}
                                <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:edit_naskah' naskah.id %}">Edit</a>
                                <form method="POST" action="{% url 'sibijaks25:hapus_naskah' naskah.id %}" onsubmit="return confirm('Yakin ingin menghapus naskah ini?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
                                </form>
                                {% endcomment %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Belum ada naskah terdaftar
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            pageLength: 50,
            // lengthMenu: [100, 50, 25, 10],
            // order: [[0, asc]],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/id.json',
            },
            paging: true,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": -1 // -1 refers to the last column
                }
            ]
            // initComplete: function () {
            //     this.api()
            //         .columns()
            //         .every(function () {
            //             let column = this;
            //             let title = column.footer().textContent;

            //             // Create input element
            //             let input = document.createElement('input');
            //             input.placeholder = title;
            //             column.footer().replaceChildren(input);

            //             // Event listener for user input
            //             input.addEventListener('keyup', () => {
            //                 if (column.search() !== this.value) {
            //                     column.search(input.value).draw();
            //                 }
            //             });
            //         });
            // }
        });
    });
</script>
{% endblock %}