{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Naskah{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:index' %}">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Naskah Tim</li>
        </ol>
    </nav>
    <h1>Daftar Naskah</h1>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div class="my-3 d-flex flex-wrap gap-3">
        
    </div>
    {% if juri.is_panitia %}
    <dl class="p-3" style="border: 1px solid grey;">
        <b>Per 30 September 2025 pukul 23:59 WIB</b>
        <dt>Jumlah tim mendaftar</dt>
        <dd>{{ jumlah_tim }}</dd>
        <dt>Jumlah tim yang sudah mengunggah minimal 1 naskah</dt>
        <dd>{{ jumlah_tim_dengan_naskah }}</dd>
        <dt>Jumlah naskah terdaftar</dt>
        <dd>{{ jumlah_naskah }} ({{ jumlah_artikel }} Artikel Ilmiah + {{ jumlah_pb }} PB)</dd>
    </dl>
    <dl class="p-3" style="border: 1px solid grey;">
        <b>Tahap Skrining (Seleksi Administrasi)</b>
        <dt>Jumlah artikel ilmiah lolos</dt>
        <dd>143</dd>
        <dt>Jumlah PB lolos</dt>
        <dd>116</dd>
    </dl>
    <div class="p-3" style="border: 1px solid grey;">
        <button class="btn btn-kemkes btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#penugasanJuri">
            Lihat status penugasan reviewer
        </button>
        <div class="collapse" id="penugasanJuri">
            {% if reviewers %}
            <table class="mt-2 table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama Reviewer</th>
                        <th>Jenis Naskah</th>
                        <th class="text-center">Jumlah Naskah Ditugaskan</th>
                        <th class="text-center">Jumlah Naskah Selesai</th>
                        <th class="text-center">Selesai Semua?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r, jml_naskah, jml_naskah_selesai, selesai in reviewers %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.nama }}</td>
                        <td>{{ r.get_jenis_naskah_display }}</td>
                        <td class="text-center">{{ jml_naskah }}</td>
                        <td class="text-center">{{ jml_naskah_selesai }}</td>
                        <td class="text-center">{{ selesai }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="container m-3">
        <form method="POST" action="{% url 'sibijaks25:panitia_unduh_rekap' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-kemkes">Unduh Rekap Naskah</button>
        </form>
    </div>
    {% endif %}
    <div class="my-5">
        <h2 class="fs-4">Naskah Terdaftar</h2>
        {% if naskahs %}
        <div class="div-table overflow-x-auto">
            <table id="datatable" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tanggal</th>
                        <th>Jenis Naskah</th>
                        <th>Judul</th>
                        <th>Ketua Tim</th>
                        <th>Status</th>
                        <th>Jumlah Juri</th>
                        <th>Full Text</th>
                        <th>Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for naskah, bisa_dinilai, jumlah_juri, unggah_ft in naskahs %}
                    <tr>
                        <td class="text-center">{{ naskah.id }}</td>
                        <td>{{ naskah.date_created|date:"d-m-Y H:i" }}</td>
                        <td>{{ naskah.get_jenis_naskah_display }}</td>
                        <td>{{ naskah.judul }}</td>
                        <td>{{ naskah.peserta }}</td>
                        <td>
                            {% if bisa_dinilai %}
                            <span class="badge text-bg-warning">Menunggu skrining</span>
                            {% elif naskah.status_naskah == 666 %}
                            <span class="badge text-bg-danger">Gugur</span>
                            {% else %}
                            <span class="badge text-bg-success">Lolos konsep</span>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ jumlah_juri }}</td>
                        <td class="text-center">{{ unggah_ft }}</td>
                        <td>
                            <!-- Tindakan -->
                            <div class="d-flex flex-wrap gap-2">
                                <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:panitia_detail_naskah' naskah.id %}">Lihat</a>
                                {% comment %}
                                <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:edit_naskah' naskah.id %}">Edit</a>
                                <form method="POST" action="{% url 'sibijaks25:hapus_naskah' naskah.id %}" onsubmit="return confirm('Yakin ingin menghapus naskah ini?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
                                </form>
                                {% endcomment %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tanggal</th>
                        <th>Jenis Naskah</th>
                        <th>Judul</th>
                        <th>Ketua Tim</th>
                        <th>Status</th>
                        <th>Jumlah Juri</th>
                        <th>Tindakan</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Belum ada naskah terdaftar
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            pageLength: 50,
            // lengthMenu: [100, 50, 25, 10],
            // order: [[0, asc]],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/id.json',
            },
            paging: true,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": -1 // -1 refers to the last column
                }
            ],
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.footer().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            }
        });
    });
</script>
{% endblock %}