{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Detail Naskah{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:rev_naskah' %}">Naskah Peserta</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Naskah</li>
        </ol>
    </nav>
    <h1>Detail Naskah <code>ID {{ naskah.id }}</code></h1>
    <h2 class="fs-3">{{ naskah.judul }}</h2>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>Jenis Naskah</dt>
                    <dd>{{ naskah.get_jenis_naskah_display }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <div class="mt-3">
            <h3>Konsep</h3>
            <div style="height: 512px; border: 1px solid gray;" class="p-3 overflow-auto">{{ naskah.abstrak|safe }}</div>
        </div>
    </div>
    <div class="mt-5" id="div-form-penilaian">
        {% if sudah_review %}
        <h4>Hasil Penilaian Konsep</h4>
        Bapak/Ibu telah menilai naskah ini.<br>
        Nilai total naskah ini: <b>{{ nilai_akhir }}</b><br>
        Komentar: <b>{{ review.komentar|default:'-' }}</b><br>
        Rekomendasi: <b>{{ status_lanjut }}</b>
        {% else %}
        <h2 class="fs-3">Form Penilaian</h2>
        <form method="POST" action="{% url 'sibijaks25:rev_simpan_penilaian' %}" class="p-3" style="border: 1px solid grey;">
            {% csrf_token %}
            <p>Nama Reviewer: <b>{{ juri.nama }}</b></p>
            <div class="alert alert-info">
                <b>Untuk setiap komponen penilaian, mohon berikan nilai antara 1 sampai 5</b>
            </div>
            <input type="hidden" name="id_naskah" id="id_naskah" value="{{ naskah.id }}">
            {% if jenis_naskah == 'ai' %}
            {% include 'sibijaks25/rev/form_ai.html' %}
            {% else %}
            {% include 'sibijaks25/rev/form_pb.html' %}
            {% endif %}
            <p class="text-danger">Penilaian yang disimpan tidak dapat diubah.</p>
            <div class="d-grid gap-2">
                <button type="submit" class="my-3 btn btn-secondary btn-kemkes">Simpan Penilaian</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        // {% if form_juri %}
        $('#id_juris').select2();
        // {% endif %}
        // $('label').css('font-weight', 'bold');
    });
</script>
{% endblock %}