<h4 class="mt-4">Justifikasi penelitian</h4>
<div class="mb-4">
    <label for="r1" class="form-label">
        1. Judul
        <small>
            
        </small>
    </label>
    <select name="r1" id="r1" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="5">1</option>
        <option value="10">2</option>
        <option value="15">3</option>
        <option value="20">4</option>
        <option value="25">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r2" class="form-label">
        2. Latar belakang<br>
        <small>
            Menjawab pertanyaan mengapa analisis yang diusulkan penting, dampaknya terhadap kesehatan masyarakat, khususnya gizi
        </small>
    </label>
    <select name="r2" id="r2" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="15">1</option>
        <option value="30">2</option>
        <option value="45">3</option>
        <option value="60">4</option>
        <option value="75">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r3" class="form-label">
        3. Pertanyaan penelitian, hipotesis, tujuan analisis<br>
        <small>
            Logis, koheren, layak, ringkas, realistis
        </small>
    </label>
    <select name="r3" id="r3" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="5">1</option>
        <option value="10">2</option>
        <option value="15">3</option>
        <option value="20">4</option>
        <option value="25">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r4" class="form-label">
        4. Inovasi & Novelty<br>
        <small>
            Adakah substansi atau metode baru yang dikembangkan yang digunakan dalam pekerjaan penelitian
        </small>
    </label>
    <select name="r4" id="r4" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="15">1</option>
        <option value="30">2</option>
        <option value="45">3</option>
        <option value="60">4</option>
        <option value="75">5</option>
    </select>
</div>
<h4 class="mt-5">Metode penelitian</h4>
<div class="mb-4">
    <label for="r5" class="form-label">
        5. Ketepatan desain dan analisis statistik dengan tujuan dan hipotesis
        <small>
            
        </small>
    </label>
    <select name="r5" id="r5" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="25">1</option>
        <option value="50">2</option>
        <option value="75">3</option>
        <option value="100">4</option>
        <option value="125">5</option>
    </select>
</div>
<h4 class="mt-5">Manfaat analisis</h4>
<div class="mb-4">
    <label for="r6" class="form-label">
        6. Kontribusi terhadap kebijakan
        <small>
            
        </small>
    </label>
    <select name="r6" id="r6" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="35">1</option>
        <option value="70">2</option>
        <option value="105">3</option>
        <option value="140">4</option>
        <option value="175">5</option>
    </select>
</div>
<h4 class="mt-5">Komentar dan Rekomendasi</h4>
<div class="mb-4">
    <label for="k" class="form-label">
        7. Komentar (jika ada)
        <small>
            
        </small>
    </label>
    <textarea class="form-control" id="k" name="k" rows="3"></textarea>
</div>
<div class="mb-4">
    <label for="l" class="form-label">
        Rekomendasi Reviewer
        <small>
            
        </small>
    </label>
    <select name="l" id="l" class="form-select" required>
        <option value="" selected>Pilih rekomendasi</option>
        <option value="0">Tidak lanjut ke full paper</option>
        <option value="1">Lanjut ke full paper</option>
    </select>
</div>