<div class="mb-4">
    <label for="r1" class="form-label">
        1. Inovatif<br>
        <small>
            Ide/gagasan memuat hal baru dalam menyelesaikan masalah yang ditemukan
        </small>
    </label>
    <select name="r1" id="r1" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="30">1</option>
        <option value="60">2</option>
        <option value="90">3</option>
        <option value="120">4</option>
        <option value="150">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r2" class="form-label">
        2. Aplikatif<br>
        <small>
            Ide/gagasan dapat diimplementasikan
        </small>
    </label>
    <select name="r2" id="r2" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="40">1</option>
        <option value="80">2</option>
        <option value="120">3</option>
        <option value="160">4</option>
        <option value="200">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r3" class="form-label">
        3. Kritis & Relevansi<br>
        <small>
            Ide/gagasan berisi telaah kritis suatu permasalahan yang aktual sesuai tema dan policy question yang diberikan panitia
        </small>
    </label>
    <select name="r3" id="r3" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="30">1</option>
        <option value="60">2</option>
        <option value="90">3</option>
        <option value="120">4</option>
        <option value="150">5</option>
    </select>
</div>
<h4 class="mt-5">Komentar dan Rekomendasi</h4>
<div class="mb-4">
    <label for="k" class="form-label">
        7. Komentar (jika ada)
        <small>
            
        </small>
    </label>
    <textarea class="form-control" id="k" name="k" rows="3"></textarea>
</div>
<div class="mb-4">
    <label for="l" class="form-label">
        Rekomendasi Reviewer
        <small>
            
        </small>
    </label>
    <select name="l" id="l" class="form-select" required>
        <option value="" selected>Pilih rekomendasi</option>
        <option value="0">Tidak lanjut ke full paper</option>
        <option value="1">Lanjut ke full paper</option>
    </select>
</div>