<div class="mb-4">
    <label for="r1" class="form-label">
        1. Judul
    </label>
    <small class="d-block mb-3">
        Judul Policy Brief singkat (maksimal 25 kata), jelas, mewakili isi tulisan, informatif, eye catching, dan menarik minat orang untuk membaca (provokatif).
    </small>
    <select name="r1" id="r1" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="5">1</option>
        <option value="10">2</option>
        <option value="15">3</option>
        <option value="20">4</option>
        <option value="25">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r2" class="form-label">
        2. Ringkasan Eksekutif
    </label>
    <small class="d-block mb-3"> 
        <ul>
            <li>Sekurang-kurangnya memuat rumusan masalah (mengapa masalah tersebut perlu/strategis) dan penting;</li>
            <li>Terdapat faktor-faktor yang menjadi akar masalahnya;</li>
            <li>Bagaimana solusi untuk menyelesaikan masalah tersebut;</li>
            <li>serta Pelaksanaan solusi (siapa yang menjadi subyek dalam menyelesaikan masalah tersebut).</li>
        </ul>
    </small>
    <select name="r2" id="r2" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="15">1</option>
        <option value="30">2</option>
        <option value="45">3</option>
        <option value="60">4</option>
        <option value="75">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r3" class="form-label">
        3. Pendahuluan
    </label>
    <small class="d-block mb-3">
        <ul>
            <li>Sekurang-kurangnya menjelaskan secara ringkas kondisi spesifik masalah yang ingin dipecahkan (didukung dengan data/bukti); </li>
            <li>Alasan mengapa substansi tersebut penting dan strategis; </li>
            <li>Menggambarkan secara ringkas mengapa masalah tersebut memerlukan pemecahan; </li>
            <li>dan menyatakan tujuan dari penulisan policy brief.</li>
        </ul>
    </small>
    <select name="r3" id="r3" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="15">1</option>
        <option value="30">2</option>
        <option value="45">3</option>
        <option value="60">4</option>
        <option value="75">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r4" class="form-label">
        4. Deskripsi Masalah (Analisis Masalah)
    </label>
    <small class="d-block mb-3">
        <ul>
            <li>Sekurang-kurangnya bersifat spesifik langsung ke inti permasalahan dan dengan dukungan data menyatakan bahwa masalah tersebut adalah nyata terjadi;</li>
            <li>Efek dari adanya masalah disertai bukti-bukti yang memadai (evidence- based);</li>
            <li>Akar masalah yang didasarkan pada data atau kajian;</li>
            <li>Analisis (apa, di mana, siapa, mengapa, dampak/efek);</li>
            <li>Menyertakan analisis regulasi;</li>
            <li>dan menyertakan alternatif kebijakan (disertai analisis singkat, metode penentuan/ pemilihan dan gambaran singkat alternatif yang dipilih).</li>
        </ul>
    </small>
    <select name="r4" id="r4" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="30">1</option>
        <option value="60">2</option>
        <option value="90">3</option>
        <option value="120">4</option>
        <option value="150">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r5" class="form-label">
        5. Rekomendasi Kebijakan
    </label>
    <small class="d-block mb-3">
        <ul>
            <li>Sekurang-kurangnya bersifat spesifik memberikan solusi terhadap permasalahan yang diangkat;</li>
            <li>Terukur, dalam arti solusi yang ditawarkan sesuai dengan kemampuan pemangku kepentingan (stakeholder) serta didukung oleh faktor-faktor yang ada;</li>
            <li>dan memuat Rencana implementasi (siapa yang bertindak (unit kerja yang dituju), langkah dan tahapan)</li>
        </ul>
    </small>
    <select name="r5" id="r5" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="30">1</option>
        <option value="60">2</option>
        <option value="90">3</option>
        <option value="120">4</option>
        <option value="150">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r6" class="form-label">
        6. Daftar Pustaka
    </label>
    <small class="d-block mb-3">
        Daftar Pustaka sekurang-kurangnya memuat 5-7 sumber utama yang kredibel dan terkini
    </small>
    <select name="r6" id="r6" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="5">1</option>
        <option value="10">2</option>
        <option value="15">3</option>
        <option value="20">4</option>
        <option value="25">5</option>
    </select>
</div>