<div class="mb-4">
    <label for="r1" class="form-label">
        1. Kejelasan isi (tidak terlalu padat dan mudah dipahami)
    </label>
    <!-- <small class="d-block mb-3">
        Menarik, jelas, tidak terlalu panjang, menggunakan kata kunci tepat
    </small> -->
    <select name="r1" id="r1" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r2" class="form-label">
        2. Desain visual menarik & konsisten
    </label>
    <!-- <small class="d-block mb-3">
        Ringkas, lengkap (latar belakang, tujuan, metode, hasil, kesimpulan), mudah dipahami. Maksimal 300 kata. Abstrak harus dalam Bahasa Inggris
    </small> -->
    <select name="r2" id="r2" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r3" class="form-label">
        3. Penggunaan grafik/data yang relevan dengan isi
    </label>
    <!-- <small class="d-block mb-3">
        Menguraikan latar belakang, tujuan, dan pentingnya topik secara sistematis.
    </small> -->
    <select name="r3" id="r3" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r4" class="form-label">
        4. Struktur penyampaian runtut & logis
    </label>
    <!-- <small class="d-block mb-3">
        Detail (desain studi, lokasi, inklusi, eksklusi, seleksi peserta, sumber data), relevan, metode tepat, analisis data benar dan transparan
    </small> -->
    <select name="r4" id="r4" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r5" class="form-label">
        5. Kejelasan Menjelaskan Inti Masalah dan Pesan Utama
    </label>
    <!-- <small class="d-block mb-3">
        Penyajian data jelas, sistematis, mendukung tujuan penelitian
    </small> -->
    <select name="r5" id="r5" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r6" class="form-label">
        6. Manajemen Waktu (menggunakan waktu sesuai alokasi dan semua tersampaikan)
    </label>
    <!-- <small class="d-block mb-3">
        Interpretasi mendalam, membandingkan dengan studi lain, mengemukakan implikasi dan batasan penelitian
    </small> -->
    <select name="r6" id="r6" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r7" class="form-label">
        7. Kejelasan suara dan artikulasi
    </label>
    <!-- <small class="d-block mb-3">
        Menjawab tujuan penelitian secara tepat dan singkat. Saran realistis dan berdasarkan hasil penelitian, memberi nilai tambah praktis
    </small> -->
    <select name="r7" id="r7" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r8" class="form-label">
        8. Ketepatan jawaban berbasis evidence
    </label>
    <!-- <small class="d-block mb-3">
        Menjawab tujuan penelitian secara tepat dan singkat. Saran realistis dan berdasarkan hasil penelitian, memberi nilai tambah praktis
    </small> -->
    <select name="r8" id="r8" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r9" class="form-label">
        9. Sikap tenang & profesional
    </label>
    <!-- <small class="d-block mb-3">
        Lengkap, relevan, terbaru, sesuai format sitasi, maksimal 30 referensi.
    </small> -->
    <select name="r9" id="r9" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>
<div class="mb-4">
    <label for="r10" class="form-label">
        10. Penguasaan materi yang disampaikan
    </label>
    <!-- <small class="d-block mb-3">
        Lengkap, relevan, terbaru, sesuai format sitasi, maksimal 30 referensi.
    </small> -->
    <select name="r10" id="r10" class="form-select" required>
        <option value="" selected>Pilih skor</option>
        <option value="10">1</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
        <option value="50">5</option>
    </select>
</div>