<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 11pt; line-height: 1.5;">
    <div>
<p>Yth. Peserta Sibijaks Awards,</p>

<p>Berikut kami sampaikan undangan mengikuti <b>Evidence-Based Nutrition Health Policy Conference: Insight from National Nutrition Survey (SSGI) 2024</b> secara <u>daring</u> pada Jumat, 19 Desember 2025. </p>

<p>Tautan Zoom dan YouTube dapat diakses pada hari pelaksanaan kegiatan melalui <a href="s.kemkes.go.id/NutritionPolicyConference" target="_blank">s.kemkes.go.id/NutritionPolicyConference</a>. </p>

<p>Terima kasih</p>

---<br>
Salam sehat,<br> 
Panitia Sibijaks Awards 2025
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>