<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.5;">
    <div>
🔔🔔📜📝🔊🔊

<p><b>COACHING CLINIC MANAJEMEN DAN ANALISIS DATA SSGI 2024 UNTUK POLICY BRIEF/ARTIKEL ILMIAH SIBIJAKS AWARDS 2025</b></p>

<p>Yth. Bapak/Ibu Peserta SiBijaKs Awards 2025,</p>

<p>Kami informasikan bahwa kami membuka kesempatan kepada para peserta Sibijaks Awards 2025 untuk lebih memahami manajemen dan analisis data SSGI 2024, dengan mengadakan <i>coaching clinic</i> yang akan dilaksanakan secara daring pada:</p>
<ul>
    <li>Hari/Tanggal: Rabu, 5 Nov 2025</li>
    <li>Pukul: 09.00 - 11.00 WIB</li>
    <li>Link zoom: <a href="https://us06web.zoom.us/j/87061688743?pwd=U8nTKTViJxHGrGoCuXV5g5eDE5OzEx.1">https://us06web.zoom.us/j/87061688743?pwd=U8nTKTViJxHGrGoCuXV5g5eDE5OzEx.1</a></li>
    <li>ID Rapat 870 6168 8743, Kata Sandi: KEMENKES</li>
</ul>

<p>Kami menghimbau kepada para peserta yang memerlukan data untuk melengkapi persyaratan permintaan data (bagi yang belum).</p>

<p>Untuk pertanyaan terkait data, Bapak/Ibu dapat langsung email ke:<br>
<a href="mailto:layanandata@kemkes.go.id">layanandata@kemkes.go.id</a></p>

<p>Tim manajemen data akan menjawab maks. 24 jam (hari kerja)</p>

---<br>
Salam sehat,<br>
Panitia SiBijaKs Awards 2025<br><br>
<hr>
<div style="margin-top: 10px; font-size: 75%; text-align: center;">
    Ada pertanyaan atau kendala?<br>
    Hubungi kami di:<br>
    <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
    a.n. Dian Widiati
</div>
</div>
</body>

</html>