<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.5;">
    <div>
<p>Yth. Para Peserta SiBijaKs Awards 2025</p>
<p>
SiBijaKs Awards 2025 telah memasuki tahap submisi naskah lengkap <i>policy brief</i> dan
artikel ilmiah. Submisi naskah lengkap dikirimkan melalui website dengan batas waktu
hingga 11 November 2025. Setelah proses seleksi, Badan Kebijakan Pembangunan
Kesehatan akan mengundang para peserta secara luring dalam Konferensi SiBijaKs Awards
2025.
</p>
<p>
Pada Konferensi SiBijaKs Awards 2025 peserta diberikan kesempatan untuk
mempresentasikan <i>policy brief</i> dan artikel ilmiah yang telah disusun, baik secara lisan
maupun melalui poster. Pelaksanaan kegiatan ini dijadwalkan pada Rabu-Kamis, 10-11
Desember 2025 di Auditorium Siwabessy Kementerian Kesehatan (tentatif).
</p>
<p>Atas perhatian dan kerjasama Bapak/Ibu, kami ucapkan terima kasih.</p>
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>