<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.5;">
    <div>
<p style="font-size: 120%;">Rekaman Zoom <i>Coaching Clinic</i></p>
<p>Berikut rekaman Zoom <i>Coaching Clinic</i> yang telah dilaksanakan pada tanggal 5 November 2025 lalu:</p>
<p>Link: <a target="_blank" href="https://us06web.zoom.us/rec/share/NDKWtXl2Tk4oUA9iuLOd1_1DnWuOo_ypDu3ZVFMR2UVM4CuBO1y12BsU7xGSwkGw.nI8jO-FtbF4PHaSQ">https://us06web.zoom.us/rec/share/NDKWtXl2Tk4oUA9iuLOd1_1DnWuOo_ypDu3ZVFMR2UVM4CuBO1y12BsU7xGSwkGw.nI8jO-FtbF4PHaSQ</a></p>
<p>Kata sandi: <code>2yP!0P&F</code></p>
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>