<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.5;">
    <div>
🔊🔊🔊🔊🔊<br>

<b>H-4️⃣ TENGGAT WAKTU SUBMISI NASKAH LENGKAP POLICY BRIEF/ARTIKEL ILMIAH SIBIJAKS AWARDS 2025</b>

<p>
Halo peserta Sibijaks Awards 2025!<br>
⏰ H-4 nih sebelum deadline submit policy brief dan artikel ilmiah.<br>
Yuk semangat!
</p>

<p>
    <i>Empat hari lagi tenggat menanti,<br>
Jangan santai sambil ngopi lagi.<br>
Segera kirim naskahnya, kawan,<br>
Biar nggak panik di detik terakhir nanti!</i>
</p>
<br>
<blockquote>
“My advice is, never do tomorrow what you can today. Procrastination is the thief of time.” - Charles Dickens
</blockquote>
<br><br>
----<br>
Salam sehat penuh semangat,<br>
Panitia SiBijaKs Awards 2025<br>
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>