<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.5;">
    <div>
🔊🔊🔊🔊🔊

<p><b>H-1️⃣ TENGGAT WAKTU SUBMISI NASKAH LENGKAP POLICY BRIEF/ARTIKEL ILMIAH SIBIJAKS AWARDS 2025</b></p>

<p>
<i>
Buka laptop sambil minum kopi,<br>
Lihat kalender, jantung berdebar lagi.<br>
Deadline besok, jangan hindari,<br>
Kirim naskah sebelum hari berganti!
</i> ☕💻
</p>

<p>
Halo Peserta SIBIJAKS Awards 2025!<br>
Waktunya menuntaskan karya terbaikmu 💪<br>
Kami ingatkan <b>bahwa batas akhir pengumpulan naskah lengkap artikel ilmiah dan policy brief adalah BESOK, 11 November 2025.</b>
</p>

<p>
📌 <b>Untuk menjadi perhatian:</b><br><br>

⏰ Tidak ada perpanjangan waktu submisi naskah<br>
📄 Seluruh peserta wajib mengirimkan artikel ilmiah dan policy brief sebagai konsekuensi telah menerima data SSGI 2024.<br>
❌ Naskah yang dikirim setelah tanggal 11 November 2025 tidak akan dinilai.
</p>

<p>Setiap data yang kamu olah punya cerita,<br>
dan setiap naskah yang kamu tulis membawa makna bagi kebijakan berbasis bukti.<br>
Yuk pastikan karya terbaikmu terkirim tepat waktu! 🌱</p><br>

----<br>
Salam sehat penuh semangat,<br>
Panitia SiBijaKs Awards 2025
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>