<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>{{ subyek }}</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 11pt; line-height: 1.5;">
    <div>
🔊🔊🔊🔊🔊<br>

<p>Halo Peserta SIBIJAKS Awards 2025!</p>

<p>Sibijaks Awards 2025 saat ini telah memasuki periode seleksi naskah fulltext policy brief/artikel ilmiah. 
    Seperti telah kami sampaikan sebelumnya bahwa seluruh peserta yang <b>lolos konsep dan telah memperoleh data SSGI 2024 wajib</b> mengirimkan naskah fulltext policy brief/artikel ilmiah. 
    <b>Naskah dapat disubmit melalui website Sibijaks Awards 2025 sampai dengan Jumat, 14 November 2025.</b>
</p>
------<br>
Salam sehat,<br>
Panitia SiBijaKs Awards 2025<br>
<hr>
    <div style="margin-top: 10px; font-size: 75%; text-align: center;">
        Ada pertanyaan atau kendala?<br>
        Hubungi kami di:<br>
        <a href="mailto:sibijaksawards2025@gmail.com">sibijaksawards2025@gmail.com</a>
        a.n. Dian Widiati
    </div>
</div>
</body>

</html>