{% load static %}
<div id="div-sos" class="row mb-5">
    <div class="col-md-6">
        <span class="d-block text-center fs-2">
            Senin, 15 September 2025<br>
            <span class="fs-4">pukul 14.00 WIB</span>
        </span>
        <div>
            <script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script><a data-type="countdown" data-id="8121139" class="tickcounter" style="display:block; left:0; width:100%; height:0; position:relative; padding-bottom:25%; margin:0 auto;" title="My countdown" href="//www.tickcounter.com/">My countdown</a>
        </div>
    </div>
    <div class="col-md-6">
        <div id="pub-links" class="d-flex flex-wrap mt-5">
            <div id="pub-zoom" class="ms-3 d-flex align-items-center">
                <div class="mx-3" style="font-size: 75px;">
                    <i class="bi bi-camera-video"></i>
                </div>
                <div class="fs-4 mx-3">
                    <a class="a-kemkes"
                        href="https://us06web.zoom.us/j/82835326519?pwd=nzEt8pnpn1EZTVSUVbb7589o62hyBa.1">
                        Zoom Meeting
                    </a><br>
                    <span class="fs-6">ID <b>828 3532 6519</b></span><br>
                    <span class="fs-6">Passcode: <b>BKPK</b></span>
                </div>
            </div>
            <div id="pub-yt" class="ms-3 d-flex align-items-center">
                <div class="mx-3" style="font-size: 75px;">
                    <i class="bi bi-youtube"></i>
                </div>
                <div class="mx-3">
                    <a class="fs-4 a-kemkes" href="https://www.youtube.com/live/lKXYlwhGTTQ">
                        YouTube
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a class="fs-4 a-kemkes"
                href="https://drive.google.com/file/d/1uMYu8Wa7Y21Z972JCpWu0D2bBIFgDKdK/view?usp=drive_link">
                Unduh Latar Belakang Virtual
            </a>
        </div>
    </div>
</div>
<hr class="hr-kemkes">
<div class="my-5">
    <h2 class="text-center">
        Jadwal Kegiatan Sosialisasi<br>
        <span class="fs-3">SiBijaKs Awards 2025</span>
    </h2>
    <div class="text-center mt-3">
        <img style="width: 1000px; max-width: 90vw;" src="{% static 'img/jadwal_sos.png' %}" class="">
    </div>
</div>
<hr class="hr-kemkes">