{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Beranda{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:naskah' %}">Naskah Saya</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Naskah</li>
        </ol>
    </nav>
    <h1>Detail Naskah</h1>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div>
        <dl>
            <dt>Judul</dt>
            <dd>{{ naskah.judul }}</dd>
            
            <dt>Penulis Utama</dt>
            <dd>{{ naskah.peserta }}</dd>

            <dt>Jenis Naskah</dt>
            <dd>{{ naskah.get_jenis_naskah_display }}</dd>

            <dt>Kolaborator</dt>
            <dd>
                <ol>
                    {% for k in naskah.kolaborators.all %}
                    <li>{{ k }}</li>
                    {% endfor %}
                </ol>
            </dd>
            
            <dt>File PDF Konsep</dt>
            {% if naskah.file_abstrak %}
            <dd>
                <a class="btn btn-kemkes" href="{{ naskah.file_abstrak.url }}">Unduh Konsep</a>
            </dd>
            {% else %}
            <dd>-</dd>
            {% endif %}
        </dl>
        <div class="mt-5">
            <h3>Konsep</h3>
            <div>{{ naskah.abstrak|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    
</script>
{% endblock %}