{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Beranda{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:naskah' %}">Naskah Saya</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Naskah</li>
        </ol>
    </nav>
    <h1 class="fs-2">{{ naskah.judul }}</h1>
    <div class="my-3">
        {% bootstrap_messages %}
    </div>
    <div>
        <dl>
            <dt>Penulis Utama</dt>
            <dd>{{ naskah.peserta }}</dd>

            <dt>Jenis Naskah</dt>
            <dd>{{ naskah.get_jenis_naskah_display }}</dd>

            <dt>Kolaborator</dt>
            <dd>
                <table class="table table-sm my-3" style="width: 800px; max-width: 90vw;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Institusi</th>
                            <th>Pekerjaan</th>
                            <th>Pendidikan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in naskah.kolaborators.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ k.nama }}</td>
                            <td>{{ k.institusi|default:'-' }}</td>
                            <td>{{ k.pekerjaan|default:'-' }}</td>
                            <td>{{ k.get_pendidikan_display|default:'-' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </dd>
            
            <dt>File PDF Konsep</dt>
            {% if naskah.file_abstrak %}
            <dd>
                <a class="btn btn-kemkes" href="{{ naskah.file_abstrak.url }}">Unduh Konsep</a>
            </dd>
            {% else %}
            <dd>-</dd>
            {% endif %}
        </dl>
        <div class="mt-5">
            <h3>Konsep</h3>
            <div style="max-height: 512px; border: 1px solid gray;" class="p-3 overflow-auto">{{ naskah.abstrak|safe }}</div>
        </div>
        {% if naskah.naskah %}
        <!-- Naskah Lengkap (Full Text) -->
        <div class="mt-5">
            <h3>Naskah Lengkap (Full Text)</h3>
            <embed src="{{ naskah.naskah.url }}" type="application/pdf" width="100%" height="600px" title="Naskah Full Text">
        </div>
        {% endif %}
        {% if naskah.status_naskah == 100 and form %}
        <!-- Form Naskah Full Text -->
        <div class="mt-5">
            <h3>Naskah Full Text</h3>
            <div class="alert alert-info">
                Selamat! Naskah ini lolos penilaian konsep.<br>
                Mohon unggah naskah <i>full text</i>, <b>format bebas</b>, namun memuat bagian-bagian mengacu pada instrumen penilaian<br>
                <b><a href="https://drive.google.com/drive/folders/1V2borxK4NEk6cFatfpuwm08bmpenhCRq?usp=sharing" target="_blank">Klik untuk mengunduh instrumen penilaian</a></b><br><br>
                <span class="text-bg-danger">Naskah yang diunggah tidak boleh memuat identitas peserta dan tim</span><br>
                {% if masukans %}
                Masukan dari reviewer:
                <ol>
                    {% for m in masukans %}
                    <li><b>Reviewer {{ forloop.counter }}: </b>{{ m.komentar|default:"Tidak ada masukan" }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
            <!-- <div class="alert alert-success" role="alert">
                Anda telah mengunggah naskah full text. Anda dapat mengunggah ulang naskah menggunakan form di bawah
            </div> -->
            <form class="p-3" style="border: 1px solid grey;" method="POST" enctype="multipart/form-data">
                <h4>Form Unggah Naskah Full Text</h4>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="noID" required>
                    <label class="form-check-label" for="noID">
                        Naskah yang saya unggah tidak mengandung identitas saya dan tim saya
                    </label>
                </div>
                <div class="my-3 text-info">
                    Anda dapat mengunggah ulah naskah sebelum deadline.
                </div>
                <div class="mt-4 d-grid gap-2">
                    <button class="btn btn-kemkes" type="submit">Unggah Naskah Full Text</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function() {
        $('label').css('font-weight', 'bold');
        $('input, textarea, select').each(function() {
            $(this).attr('placeholder', '');
        });
        $('#id_naskah').attr('required', true);
        $('#id_naskah').attr('accept', 'application/pdf');
        $('#naskah-clear_id').parent('div').hide();
    });
</script>
{% endblock %}