{% extends "BASE.html" %}
{% load static %}

{% block title_bl %}Beranda{% endblock %}

{% block header_bl %}
<style>
    .timeline {
        border-left: 1px solid #16b3ac;
        position: relative;
        list-style: none;
    }

    .timeline .timeline-item {
        position: relative;
    }

    .timeline .timeline-item p {
        color: #16b3ac;
    }

    .timeline .timeline-item:after {
        position: absolute;
        display: block;
        top: 0;
    }

    .timeline .timeline-item:after {
        background-color: #16b3ac;
        left: -38px;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        content: "";
    }
</style>
{% endblock %}

{% block body_bl %}
{% include "sibijaks25/_carousel.html" %}
<div class="container mt-4">
    <!-- SOSIALISASI -->
    {% comment %}
    {% include "sibijaks25/_sos.html" %}
    {% endcomment %}
    <section>
        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a class="btn btn-kemkes btn-lg" href="https://www.badankebijakan.kemkes.go.id/survei-status-gizi-indonesia-ssgi-2024/" role="button" target="_blank">
                Buku Hasil SSGI 2024 Dalam Angka<br>
            </a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'sibijaks25:registrasi' %}" role="button" target="_blank">
                Registrasi Tim<br>
            </a>
            <a class="btn btn-outline-success btn-lg" href="https://docs.google.com/document/d/1-8pfjJ4oHrQ6O6GgJGagImyFUGuNopFi/edit?usp=sharing&ouid=108559077645742686864&rtpof=true&sd=true" role="button" target="_blank">
                Panduan<br>
            </a>
        </div>
    </section>
    <hr class="hr-kemkes">
    <div class="my-5">
        <h2 class="text-center">
            Jadwal dan Tahapan<br>
            <span class="fs-3">SiBijaKs Awards 2025</span>
        </h2>
        <div class="text-center mt-3">
            <img style="width: 1000px; max-width: 90vw;" src="{% static 'img/tl.png' %}" class="">
        </div>
        {% comment %}
        {% include "sibijaks25/_timeline.html" %}
        {% endcomment %}
    </div>
</div>
{% endblock %}