{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Login{% endblock %}

{% block body_bl %}
<div class="container" style="margin-top: 10vh;">
    <div class="d-flex justify-content-center">
        <img src="{% static 'img/logo0.png' %}" width="80px">
    </div>
    <div class="d-flex justify-content-center my-3">
        <h1 class="fs-2 text-center">Login Peserta (Tim)</h1>
    </div>
    <div class="d-flex justify-content-center my-3">
        <form method="POST" style="width: 300px; max-width: 80vw;">
            {% bootstrap_messages %}
            {% csrf_token %}
            <div class="mb-3">
                Anda juri/panitia? 
                Silakan <a href="{% url 'sibijaks25:login_panitia' %}">login di sini</a>
            </div>
            <div class="mb-3">
                <label for="wa" class="form-label">Nomor WA</label>
                <input type="text" class="form-control" name="wa" id="wa" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="my-3 btn btn-secondary btn-kemkes">Masuk</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        $('.form-control').on('input', function () {
            var val = $(this).val();
            var trimmed = val.replace(/^\s+|\s+$/g, '');
            if (val !== trimmed) {
                $(this).val(trimmed);
            }
        });
    });
</script>
{% endblock %}