{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Naskah{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:index' %}">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Naskah Saya</li>
        </ol>
    </nav>
    <h1>Daftar Naskah</h1>
    <div class="my-3">
        {% if not ada_pasfoto %}
        <div class="alert alert-warning" role="alert">
            Mohon unggah ulang pasfoto Anda 
            <a href="{% url 'sibijaks25:unggah_foto' peserta.id %}">di sini</a>
        </div>
        {% endif %}
        {% bootstrap_messages %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Penulis Utama</dt>
                <dd>{{ peserta.nama }}</dd>

                <dt>Institusi</dt>
                <dd>{{ peserta.institusi|default:'-' }}</dd>

                <dt>Pekerjaan/Profesi</dt>
                {% if peserta.is_mahasiswa %}
                <dd>Mahasiswa {{ peserta.get_mahasiswa_display|default:'-' }}</dd>
                {% else %}
                <dd>{{ peserta.pekerjaan|default:'-' }}</dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-md-6">
            <dl>
                {% if ada_pasfoto %}
                <dt>Pasfoto</dt>
                <dd>
                    <img src="{{ peserta.pasfoto.url }}" style="width: 128px; height: auto;">
                </dd>
                {% endif %}
            </dl>
        </div>
    </div>
    <div class="my-3 d-flex flex-wrap gap-3">
        {% if ada_kolaborator and ada_pasfoto %}
        <a class="btn btn-kemkes" href="{% url 'sibijaks25:tambah_naskah' %}">Naskah Baru</a>
        {% else %}
        <a class="btn btn-kemkes disabled">Naskah Baru</a>
        {% endif %}
        <a class="btn btn-kemkes" href="{% url 'sibijaks25:tambah_kolaborator' %}">Kolaborator Baru</a>
    </div>
    <div class="my-5">
        <h2 class="fs-4">Naskah Terdaftar</h2>
        {% if naskahs %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Tanggal</th>
                    <th>Judul</th>
                    <th>Jenis Naskah</th>
                    <th>Status</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for naskah in naskahs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ naskah.date_created|date:"d-m-Y H:i" }}</td>
                    <td>{{ naskah.judul }}</td>
                    <td>{{ naskah.get_jenis_naskah_display }}</td>
                    <td>
                        <span class="badge text-bg-success">Menunggu penilaian</span>
                    </td>
                    <td>
                        <div class="d-flex flex-wrap gap-2">
                            <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:detail_naskah' naskah.id %}">Lihat</a>
                            {% comment %}
                            <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:edit_naskah' naskah.id %}">Edit</a>
                            <form method="POST" action="{% url 'sibijaks25:hapus_naskah' naskah.id %}" onsubmit="return confirm('Yakin ingin menghapus naskah ini?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
                            </form>
                            {% endcomment %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            Belum ada naskah terdaftar. Silakan daftarkan naskah terlebih dahulu.
        </div>
        {% endif %}
    </div>

    <div class="my-3">
        <h2 class="fs-4">Kolaborator Terdaftar</h2>
        {% if kolaborators %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Nomor WA</th>
                    <th>Email</th>
                    <th>Institusi</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for kolaborator in kolaborators %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ kolaborator.nama }}</td>
                    <td>{{ kolaborator.nomor_wa|default:'-' }}</td>
                    <td>{{ kolaborator.email|default:'-' }}</td>
                    <td>{{ kolaborator.institusi }}</td>
                    <td>
                        <div class="d-flex flex-wrap gap-2">
                            <a class="btn btn-kemkes btn-sm" role="button" href="{% url 'sibijaks25:edit_kolaborator' kolaborator.id %}">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            Belum ada kolaborator terdaftar. Silakan daftarkan kolaborator terlebih dahulu.
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}