{% extends "BASE.html" %}
{% load static django_bootstrap5 %}

{% block title_bl %}Beranda{% endblock %}

{% block header_bl %}
{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:index' %}">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registrasi</li>
        </ol>
    </nav>
    <h1>Registrasi Peserta</h1>
    <div class="my-3">
        <div class="alert alert-info" role="alert">
            <b>Registrasi peserta cukup dilakukan oleh ketua tim</b>
        </div>
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
    </div>
    <form method="POST" style="width: 600px; max-width: 90vw;">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mt-4 d-grid gap-2">
            <button class="btn btn-kemkes" type="submit">Registrasi</button>
        </div>
    </form>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        $('#id_is_mahasiswa').change(function () {
            if ($(this).is(':checked')) {
                $('#id_mahasiswa').closest('div').show();
                $('#id_mahasiswa').attr('required', true);
                $('#id_pekerjaan').closest('div').hide();
                $('#id_pekerjaan').attr('required', false);
            } else {
                $('#id_mahasiswa').closest('div').hide();
                $('#id_mahasiswa').attr('required', false);
                $('#id_pekerjaan').closest('div').show();
                $('#id_pekerjaan').attr('required', true);
            }
        }).trigger('change');
        $('#id_pasfoto').attr('required', true);

        $('label').css('font-weight', 'bold');
        $('input, textarea, select').each(function () {
            $(this).attr('placeholder', '');
        });
    });
</script>
{% endblock %}