{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Naskah{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:naskah' %}">Naskah Saya</a></li>
            <li class="breadcrumb-item active" aria-current="page">Daftarkan Naskah</li>
        </ol>
    </nav>
    <h1>Daftarkan Naskah</h1>
    <div class="my-3">
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my-4">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c1" required>
                <label id="lc1" class="form-check-label" for="c1">
                    Saya telah membaca panduan <a href="https://docs.google.com/document/d/1Isorn4YEUXboUph9lF0lFuYtZtyeNcvE/edit?usp=drive_link&ouid=108559077645742686864&rtpof=true&sd=true" target="_blank">artikel ilmiah</a> dan <a href="https://docs.google.com/document/d/1dyOJs-WyYbX2SIOwf_jBsxPFMqXfOhtg/edit?usp=drive_link&ouid=108559077645742686864&rtpof=true&sd=true" target="_blank">policy brief</a> untuk SiBijaKs Awards 2025.
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c2" required>
                <label id="lc2" class="form-check-label" for="c2">
                    Saya menyatakan bahwa naskah yang saya daftarkan sesuai dengan panduan tersebut.
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c3" required>
                <label id="lc3" class="form-check-label" for="c3">
                    Jika naskah saya tidak sesuai dengan panduan, panitia berhak mendiskualifikasi naskah saya ini.
                </label>
            </div>
        </div>
        <div style="width: 800px; max-width: 90vw;">
            {% bootstrap_form form %}
            <div class="mt-4 d-grid gap-2">
                <button class="btn btn-kemkes" type="submit">Daftarkan Naskah</button>
            </div>
        </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function () {
        // Batasi jumlah kata pada judul naskah
        // Define the maximum number of words
        const maxJudulWords = 26;

        // Target the input field by its ID
        $('#id_judul').on('input', function () {
            let value = $(this).val();

            // Use a regular expression to split by any whitespace and filter out empty strings
            let words = value.split(/\s+/).filter(function (word) {
                return word.length > 0;
            });

            // If the number of words exceeds the maximum
            if (words.length > maxJudulWords) {
                // Take the first `maxJudulWords` words and join them back with a single space
                let trimmedValue = words.slice(0, maxJudulWords).join(' ');

                // Set the input's value to the trimmed string
                $(this).val(trimmedValue);
            }
        });

        // Batasi jumlah kata pada abstrak tergantung jenis naskah
        var maxwords = 401;
        $('#id_jenis_naskah').on('change', function () {
            if ($(this).val() === "pb") {
                maxwords = 401;
            } else {
                maxwords = 1151;
            }
        });
        if ($('#id_jenis_naskah').val() === "art") {
            maxwords = 1151;
        }
        var summernoteOptions = {
            tabsize: 2,
            height: 300,
            toolbar: [
                // ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                // ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                // ['table', ['table']],
                // ['insert', ['link',]],
                // ['view', ['fullscreen', 'codeview', 'help']]
            ],
            callbacks: {
                onKeydown: function (e) {
                    var t = e.currentTarget.innerText;
                    var words = t.split(" ");
                    if (words.length >= maxwords) {
                        //delete key
                        if (e.keyCode !== 46 && e.keyCode !== 8)
                            e.preventDefault();
                        // add other keys ...
                    }
                },
                onKeyup: function (e) {
                    var t = e.currentTarget.innerText;
                    var words = t.split(" ");
                    if (words.length >= maxwords) {
                        //delete key
                        if (e.keyCode !== 46 && e.keyCode !== 8)
                            e.preventDefault();
                        // add other keys ...
                    }
                },
                onPaste: function (e) {
                    var t = e.currentTarget.innerText;
                    var bufferText = ((e.originalEvent || e).clipboardData ||
                        window.clipboardData).getData('Text');
                    e.preventDefault();
                    var all = t + bufferText;
                    var words = all.split(" ");
                    var array = words.slice(0, maxwords)
                    document.execCommand('insertText', false, array.join(" "));
                }
            }
        };
        $('#id_abstrak').summernote(summernoteOptions);
        $('#id_file_abstrak').attr('required', true);

        $('#id_file_abstrak').attr('accept', 'application/pdf');
        $('label').css('font-weight', 'bold');
        $('#lc1').css('font-weight', 'normal');
        $('#lc2').css('font-weight', 'normal');
        $('#lc3').css('font-weight', 'normal');
        $('input, textarea, select').each(function () {
            $(this).attr('placeholder', '');
        });
    });
</script>
{% endblock %}