{% extends 'BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Naskah{% endblock %}

{% block body_bl %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sibijaks25:naskah' %}">Naskah Saya</a></li>
            <li class="breadcrumb-item active" aria-current="page">Daftarkan Naskah</li>
        </ol>
    </nav>
    <h1>Daftarkan Naskah</h1>
    <div class="my-3">
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="my-4">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c1" required>
                <label class="form-check-label" for="c1">
                    Saya telah membaca panduan artikel ilmiah dan/atau policy brief untuk SiBijaKs Awards 2025.
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c2" required>
                <label class="form-check-label" for="c2">
                    Saya menyatakan bahwa naskah yang saya daftarkan sesuai dengan panduan tersebut.
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="c3" required>
                <label class="form-check-label" for="c3">
                    Jika naskah saya tidak sesuai dengan panduan, panitia berhak mendiskualifikasi naskah saya ini.
                </label>
            </div>
        </div>
        <div style="width: 800px; max-width: 90vw;">
            {% bootstrap_form form %}
            <div class="mt-4 d-grid gap-2">
                <button class="btn btn-kemkes" type="submit">Daftarkan Naskah</button>
            </div>
        </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $(document).ready(function() {
        var summernoteOptions = {
            tabsize: 2,
            height: 120,
            toolbar: [
                // ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                // ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                // ['table', ['table']],
                ['insert', ['link', ]],
                // ['view', ['fullscreen', 'codeview', 'help']]
            ]
        };
        $('#id_abstrak').summernote(summernoteOptions);

        $('label').css('font-weight', 'bold');
        $('input, textarea, select').each(function() {
            $(this).attr('placeholder', '');
        });
    });
</script>
{% endblock %}